<h2>Add Products</h2>
<div>
  <form [formGroup]="addProduct">
    <input
      class="form"
      type="text"
      formControlName="title"
      placeholder="title"
    /><br />
    <input
      class="form"
      type="text"
      formControlName="price"
      placeholder="price"
    /><br />
    <input
      class="form"
      type="text"
      formControlName="imageurl"
      placeholder="imageurl"
    /><br />
    <input
      class="form"
      type="text"
      formControlName="description"
      placeholder="description"
    /><br />
    <input
      class="form"
      type="number"
      formControlName="quantity"
      placeholder="quantity"
    /><br />

    <button class="btn" routerLink="/products" (click)="addProducts()">
      add Product
    </button>
  </form>
</div>
