<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://m.media-amazon.com/images/S/glimpse-media/f1d89abb-3c5a-463f-ad11-646adfeeafb2/image/dd123129-2841-4b59-8fde-4910d3338db3._SL1200_.jpeg">
            <title>

            </title>
        </div>
        <div class="col">
            <img src="https://m.media-amazon.com/images/I/51REBbHQGHL._AC_UL480_FMwebp_QL65_.jpg">
            <title>
                
            </title>
        </div>
        <div class="col">
            <img src="">
            <title>
                
            </title>
        </div>
        <div class="col">
            <img src="">
            <title>
                
            </title>
        </div>
    </div>
     <div class="row">
        <div class="col">
            <img src="">
            <title>

            </title>
        </div>
        <div class="col">
            <img src="">
            <title>
                
            </title>
        </div>
        <div class="col">
            <img src="">
            <title>
                
            </title>
        </div>
        <div class="col">
            <img src="">
            <title>
                
            </title>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="">
            <title>

            </title>
        </div>
        <div class="col">
            <img src="">
            <title>
                
            </title>
        </div>
        <div class="col">
            <img src="">
            <title>
                
            </title>
        </div>
        <div class="col">
            <img src="">
            <title>
                
            </title>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="">
            <title>

            </title>
        </div>
        <div class="col">
            <img src="">
            <title>
                
            </title>
        </div>
        <div class="col">
            <img src="">
            <title>
                
            </title>
        </div>
        <div class="col">
            <img src="">
            <title>
                
            </title>
        </div>
    </div>
</div>
