
 <div class="container">
  <div class="row">
<ng-container *ngIf="cart$ | async as cart">
  <!-- {{ cart.user }} -->

  <ng-container  *ngFor="let item of cart.items">
    <div class="card col-md-3">
    <img src="{{ item.imageurl }}" /><br />
    <h5 style="
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
  "
>
</h5>
<p
style="
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
"
> {{ item.title }}
</p>
   
    <p
    style="
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100ch;
    "
    >     {{ item.description }}
    </p>
    {{ item.price }}<br />
    

    <button (click)="deleteProductfromCart(item)">Delete</button>
    </div>
    
  </ng-container>

SubTotal:{{cart.total}}
</ng-container>

</div>
</div>