.container{
    max-width: 100px;
    margin: 10px;
    color: black;
    margin-top: 50px;
    padding-left: 200px;
}

.login {
    margin-top: 30px;
    padding-bottom: 5px;
    font-size: 30px;
  }
  .name{
        margin-top: 20px;
        width: 300px;
        padding-bottom: 5px;
       
      } 
  .namee{
    margin-top: 20px;
    width: 300px;
    padding-bottom: 5px;
    background-color: #0d6efd;
  }