<div class="container">
    <header class="login">Login</header>
<form [formGroup] = 'addUser'>
    <!-- <input type="text" formControlName='name' placeholder="name"><br> -->
    <input class="name" type="text" formControlName='email' placeholder="email"><br>
    <!-- <input type="text" formControlName='username' placeholder="username"><br> -->
    <input class="name" type="text" formControlName='password' placeholder="password"><br>
    <!-- <button (click)='postUser(selectedUser)' [disabled]='addUser.invalid'>{{(selectedUser) ? 'Update User' : ""}}</button> -->
    <button class="name" routerLink="/products" (click)="login()">Login</button>
</form>
</div>

